.vue-contact-popup {
    transition: $transition-sm ease-in-out;

    .container-wrapper {
        background-color: $color-primary;
        box-shadow: 0 3px 30px rgba(0, 0, 0, .06);


        .container {
            padding: 3.125rem 1.875rem;

            .header {
                padding-bottom: 1.875rem;
            }
        }
    }
}