.vue-faq-item {
    border-bottom: 1px solid $color-gray;
    padding: 1.25rem 0 0;

    .faq-question {
        .title {
            h3 {
                font-size: 1rem;
                line-height: 1.675rem;
                color: $color-white;
                padding-right: 0.675rem;
                color: $color-white;
                margin-bottom: 0;
                margin-right: auto;
            }
        }

        .arrow-wrapper {
            .arrow-container {
                background-color: $color-gray;
                transition: $transition-md cubic-bezier(.25, .74, .22, .99);
                width: 25px;
                height: 25px;

                &.active {
                    background-color: $color-white;

                    .arrow {
                        filter: invert(1);
                        transform: rotate(-90deg);
                    }
                }

                .arrow {
                    background-image: url('../assets/svg/arrow-down.svg');
                    transition: $transition-md cubic-bezier(.25, .74, .22, .99);
                    background-size: cover;
                    transform: rotate(90deg);
                    width: 15px;
                    height: 15px;
                }
            }
        }
    }

    .faq-answer {
        overflow: hidden;
        transition: max-height $transition-lg ease-in-out;
        padding: 1.25rem 0 0 1.25rem;
        max-height: 0px;

        .inner {
            transition: transform $transition-md cubic-bezier(.25, .74, .22, .99) 0.2s;
            transform: translateY(20px);
            padding-bottom: 1.25rem;

            &.open {
                transform: translateY(0px) !important;
            }

            .text {
                font-size: 0.875rem;
                line-height: 1.5rem;
                color: $color-white;
                margin: 0;
            }
        }
    }
}