$color-primary:         #1D1D1D;
$color-secondary:       #00D1A1;
$color-text:            #5d5d5d;
$color-red:             #ff0000;
$color-white:           #ffffff;
$color-black:           #000000;
$color-background:      #ffffff;