.vue-steps-list {
    background-color: $color-primary;
    padding: 3.75rem 0;

    .steps-list-wrapper {
        .steps-list-container {
            .list-header {
                .header {
                    h4 {
                        color: $color-white;
                        font-family: 'SF Pro Text';
                        font-size: 1.25rem;
                        font-weight: 200;
                        letter-spacing: -.8;
                        margin-bottom: 0;
                        line-height: 1.875rem;
                    }

                    h2 {
                        color: $color-white;
                    }
                }
            }
        }
    }
}