.vue-table-row {
    display: flex;
    
    .table-info {
        flex: 1 1 60%;
        padding: 1.125rem;

        @media screen and (max-width: 768px) {
            flex: 1 0 60%;
        }

        .row-data-content {
            padding-left: 1.375rem;

            .title {
                color: $color-black;
                font-size: 0.875rem;
                font-weight: 700;
                line-height: 1.5rem;
            }

            .info {
                position: relative;

                .tooltip-content {
                    position: absolute;
                    top: 150%;
                    left: -150%;
                    width: 400px;
                    border-radius: 1rem;
                    padding: 1rem;

                    &:after {
                        content: '';
                        position: absolute;
                        left: 12px;
                        top: -12px;
                        width: 0;
                        height: 0;
                        border-left: 20px solid transparent;
                        border-right: 20px solid transparent;
                        border-bottom: 20px solid rgb(9 9 11 / 1);
                        clear: both;
                    }
                }
            }
        }
    }

    .table-check,
    .table-cross {
        flex: 1 1 20%;
        padding: 0;

        .checkmark {
            background-color: rgb(218,246,237);
        }

        .checkmark, .crossmark {
            padding: 1.5rem;

            .font-icon {
                padding: 0.5rem;
                width: 25px;
                height: 25px;
                margin: 0 70px;
            }
        }
    }
}