.vue-text-with-table {
    margin-top: 75px;

    .content-wrapper {
        .container {
            .content {
                margin-bottom: 40px;
                text-align: center;

                .subtitle {
                    color: $color-black;
                    font-family: 'SF Pro Text';
                    font-size: 1.25rem;
                    font-weight: 200;
                    letter-spacing: -.8;
                    line-height: 1.875rem;
                    margin-bottom: 0;
                }

                .description {
                    font-size: 1.125rem;
                    margin: 0 auto;
                }
            }
        }
    }
}